In [ ]:
import numpy as np
import pandas as pd
import sys

Function that computes the complementary bases.

In [ ]:
# Calculate the complementary DNA sequence
def complement(Nucleotide):
    comp = []
    for i in Nucleotide:
        if i == "T":
            comp.append("A")
        if i == "A":
            comp.append("T")
        if i == "G":
            comp.append("C")
        if i == "C":
            comp.append("G")
    return ''.join(comp)

In [ ]:
# Variables

# Coding strand of exon 45
coding_strand = 'AAAAAGACATGGGGCTTCATTTTTGTTTTGCCTTTTTGGTATCTTACAGGAACTCCAGGATGGCATTGGGCAGCGGCAAACTGTTGTCAGAACATTGAATGCAACTGGGGAAGAAATAATTCAGCAATCCTCAAAAACAGATGCCAGTATTCTACAGGAAAAATTGGGAAGCCTGAATCTGCGGTGGCAGGAGGTCTGCAAACAGCTGTCAGACAGAAAA'

# The correct base that will be inserted
bp = 'T'

# PAM sequence
PAM = 'TGG'

# Protospacer sequence
protospacer = 'CTTACAGGAACTCCAGGA'

# Minimum PBS
minPBS = complement(protospacer[7:15])

In [ ]:
# Calculate the non coding strand
non_coding_strand1 = complement(coding_strand)
non_coding_strand = non_coding_strand1[::-1]
print(non_coding_strand1)

TTTTTCTGTACCCCGAAGTAAAAACAAAACGGAAAAACCATAGAATGTCCTTGAGGTCCTACCGTAACCCGTCGCCGTTTGACAACAGTCTTGTAACTTACGTTGACCCCTTCTTTATTAAGTCGTTAGGAGTTTTTGTCTACGGTCATAAGATGTCCTTTTTAACCCTTCGGACTTAGACGCCACCGTCCTCCAGACGTTTGTCGACAGTCTGTCTTTT

In [ ]:
# Create the minimum RT template (the last base of the RT
min_RT = bp + complement(protospacer[15:18]) + complement(PAM)
print(min_RT)

TCCTACC

In [ ]:
# Create rest bases for the generated RT templates
temp_calculations_1 = non_coding_strand1.find(min_RT)
temp_ = non_coding_strand1[(temp_calculations_1+len(str(temp_calculations_1))):(temp_calculations_1+len(str(temp_calculations_1)) + 27)]
rest_bases = temp_[5::]
print(rest_bases)

GTAACCCGTCGCCGTTTGACAA

In [ ]:
# Create the different RT templates
temp_calculations =[] # Temporary list of insertions

for i in range(0,22):# loop integer position over restbases
    pointer = i + 1 # pointer i 
    add1 = ''.join(rest_bases[:pointer]) # calculation join pointer list items into string
    add2 = min_RT + add1 # calculation string concatenation
    temp_calculations.append(add2)

# Add minimum RT template in the list
temp_calculations.insert(0, min_RT)
# Print all generated RT templates
temp_calculations

['TCCTACC',
 'TCCTACCG',
 'TCCTACCGT',
 'TCCTACCGTA',
 'TCCTACCGTAA',
 'TCCTACCGTAAC',
 'TCCTACCGTAACC',
 'TCCTACCGTAACCC',
 'TCCTACCGTAACCCG',
 'TCCTACCGTAACCCGT',
 'TCCTACCGTAACCCGTC',
 'TCCTACCGTAACCCGTCG',
 'TCCTACCGTAACCCGTCGC',
 'TCCTACCGTAACCCGTCGCC',
 'TCCTACCGTAACCCGTCGCCG',
 'TCCTACCGTAACCCGTCGCCGT',
 'TCCTACCGTAACCCGTCGCCGTT',
 'TCCTACCGTAACCCGTCGCCGTTT',
 'TCCTACCGTAACCCGTCGCCGTTTG',
 'TCCTACCGTAACCCGTCGCCGTTTGA',
 'TCCTACCGTAACCCGTCGCCGTTTGAC',
 'TCCTACCGTAACCCGTCGCCGTTTGACA',
 'TCCTACCGTAACCCGTCGCCGTTTGACAA']

In [ ]:
# Create the different PBS
temp_calculations2 =[] # Temporary list of insertions

for i in range(0,9):# loop integer position over restbases
    rev_pointer = i - 1 # reverse pointer i 
    add3 = ''.join(rest_bases2[rev_pointer:]) # calculation join pointer list items into string 
    add4 = add3 + minPBS  # calculation string concatenation
    temp_calculations2.append(add4)

# Print all generated PBS
del temp_calculations2[0]
temp_calculations2

['GAATGTCCTTGAGGT',
 'AATGTCCTTGAGGT',
 'ATGTCCTTGAGGT',
 'TGTCCTTGAGGT',
 'GTCCTTGAGGT',
 'TCCTTGAGGT',
 'CCTTGAGGT',
 'CTTGAGGT']

In [ ]:
# Îœultiplication of all possible RT templates x all possible PBS in order to create the 3' extension
multipl_list = []
multipl_list2 = []
multipl_list3 = []
for x in range(len(temp_calculations2)):
    for y in range(len(temp_calculations)):
        calc = (temp_calculations2[x] + temp_calculations[y])
        # Count PBS and RT lengths and append to new lists
        multipl_list2.append(len(temp_calculations2[x]))
        multipl_list3.append(len(temp_calculations[y]))
        multipl_list.append(calc)

# Produced 3' extensions

# 3' - 5' orientation

In [ ]:
multipl_list

['GAATGTCCTTGAGGTTCCTACC',
 'GAATGTCCTTGAGGTTCCTACCG',
 'GAATGTCCTTGAGGTTCCTACCGT',
 'GAATGTCCTTGAGGTTCCTACCGTA',
 'GAATGTCCTTGAGGTTCCTACCGTAA',
 'GAATGTCCTTGAGGTTCCTACCGTAAC',
 'GAATGTCCTTGAGGTTCCTACCGTAACC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCG',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGT',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCG',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'GAATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'AATGTCCTTGAGGTTCCTACC',
 'AATGTCCTTGAGGTTCCTACCG',
 'AATGTCCTTGAGGTTCCTACCGT',
 'AATGTCCTTGAGGTTCCTACCGTA',
 'AATGTCCTTGAGGTTCCTACCGTAA',
 'AATGTCCTTGAGGTTCCTACCGTAAC',
 'AATGTCCTTGAGGTTCCTACCGTAACC',
 'AATGTCCTTGAGGTTCCTACCGTAACCC',
 'AATGTCCTTGAGGTTCCTACCGTAACCCG',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGT',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTC',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCG',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'AATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'ATGTCCTTGAGGTTCCTACC',
 'ATGTCCTTGAGGTTCCTACCG',
 'ATGTCCTTGAGGTTCCTACCGT',
 'ATGTCCTTGAGGTTCCTACCGTA',
 'ATGTCCTTGAGGTTCCTACCGTAA',
 'ATGTCCTTGAGGTTCCTACCGTAAC',
 'ATGTCCTTGAGGTTCCTACCGTAACC',
 'ATGTCCTTGAGGTTCCTACCGTAACCC',
 'ATGTCCTTGAGGTTCCTACCGTAACCCG',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGT',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTC',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCG',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'ATGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'TGTCCTTGAGGTTCCTACC',
 'TGTCCTTGAGGTTCCTACCG',
 'TGTCCTTGAGGTTCCTACCGT',
 'TGTCCTTGAGGTTCCTACCGTA',
 'TGTCCTTGAGGTTCCTACCGTAA',
 'TGTCCTTGAGGTTCCTACCGTAAC',
 'TGTCCTTGAGGTTCCTACCGTAACC',
 'TGTCCTTGAGGTTCCTACCGTAACCC',
 'TGTCCTTGAGGTTCCTACCGTAACCCG',
 'TGTCCTTGAGGTTCCTACCGTAACCCGT',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTC',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCG',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'TGTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'GTCCTTGAGGTTCCTACC',
 'GTCCTTGAGGTTCCTACCG',
 'GTCCTTGAGGTTCCTACCGT',
 'GTCCTTGAGGTTCCTACCGTA',
 'GTCCTTGAGGTTCCTACCGTAA',
 'GTCCTTGAGGTTCCTACCGTAAC',
 'GTCCTTGAGGTTCCTACCGTAACC',
 'GTCCTTGAGGTTCCTACCGTAACCC',
 'GTCCTTGAGGTTCCTACCGTAACCCG',
 'GTCCTTGAGGTTCCTACCGTAACCCGT',
 'GTCCTTGAGGTTCCTACCGTAACCCGTC',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCG',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'GTCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'TCCTTGAGGTTCCTACC',
 'TCCTTGAGGTTCCTACCG',
 'TCCTTGAGGTTCCTACCGT',
 'TCCTTGAGGTTCCTACCGTA',
 'TCCTTGAGGTTCCTACCGTAA',
 'TCCTTGAGGTTCCTACCGTAAC',
 'TCCTTGAGGTTCCTACCGTAACC',
 'TCCTTGAGGTTCCTACCGTAACCC',
 'TCCTTGAGGTTCCTACCGTAACCCG',
 'TCCTTGAGGTTCCTACCGTAACCCGT',
 'TCCTTGAGGTTCCTACCGTAACCCGTC',
 'TCCTTGAGGTTCCTACCGTAACCCGTCG',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGC',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'TCCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'CCTTGAGGTTCCTACC',
 'CCTTGAGGTTCCTACCG',
 'CCTTGAGGTTCCTACCGT',
 'CCTTGAGGTTCCTACCGTA',
 'CCTTGAGGTTCCTACCGTAA',
 'CCTTGAGGTTCCTACCGTAAC',
 'CCTTGAGGTTCCTACCGTAACC',
 'CCTTGAGGTTCCTACCGTAACCC',
 'CCTTGAGGTTCCTACCGTAACCCG',
 'CCTTGAGGTTCCTACCGTAACCCGT',
 'CCTTGAGGTTCCTACCGTAACCCGTC',
 'CCTTGAGGTTCCTACCGTAACCCGTCG',
 'CCTTGAGGTTCCTACCGTAACCCGTCGC',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCC',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'CCTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA',
 'CTTGAGGTTCCTACC',
 'CTTGAGGTTCCTACCG',
 'CTTGAGGTTCCTACCGT',
 'CTTGAGGTTCCTACCGTA',
 'CTTGAGGTTCCTACCGTAA',
 'CTTGAGGTTCCTACCGTAAC',
 'CTTGAGGTTCCTACCGTAACC',
 'CTTGAGGTTCCTACCGTAACCC',
 'CTTGAGGTTCCTACCGTAACCCG',
 'CTTGAGGTTCCTACCGTAACCCGT',
 'CTTGAGGTTCCTACCGTAACCCGTC',
 'CTTGAGGTTCCTACCGTAACCCGTCG',
 'CTTGAGGTTCCTACCGTAACCCGTCGC',
 'CTTGAGGTTCCTACCGTAACCCGTCGCC',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCG',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGT',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTT',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTT',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTTG',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGA',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGAC',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACA',
 'CTTGAGGTTCCTACCGTAACCCGTCGCCGTTTGACAA']

In [ ]:
# Convert list to dataframe column
df = pd.DataFrame({'col':multipl_list, 'PBS length':multipl_list2, 'RT template length':multipl_list3})

# Reindex starting from 1
df.index = np.arange(1, len(df) + 1)

# Rename column
df['3_extension'] = df['col']
del df['col']

# Index to column
df['Names'] = df.index

# Add prefix to names column
df['Names'] = 'DMD' + ' ' + df['Names'].astype(str)

# Reverse orientation from 3'-5' to 5'-3'
df["3' extension"] = df['3_extension'].str[::-1]

# Delete old orientation column
del df['3_extension']

df

     PBS length  ...                           3' extension
1            15  ...                 CCATCCTTGGAGTTCCTGTAAG
2            15  ...                GCCATCCTTGGAGTTCCTGTAAG
3            15  ...               TGCCATCCTTGGAGTTCCTGTAAG
4            15  ...              ATGCCATCCTTGGAGTTCCTGTAAG
5            15  ...             AATGCCATCCTTGGAGTTCCTGTAAG
..          ...  ...                                    ...
180           8  ...      GTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
181           8  ...     AGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
182           8  ...    CAGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
183           8  ...   ACAGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
184           8  ...  AACAGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC

[184 rows x 4 columns]

In [ ]:
# Delete any 3' extension that starts with C
df = df[~df["3' extension"].astype(str).str.startswith('C')].reindex()

In [ ]:
df.reset_index(drop=True)

     PBS length  ...                           3' extension
0            15  ...                GCCATCCTTGGAGTTCCTGTAAG
1            15  ...               TGCCATCCTTGGAGTTCCTGTAAG
2            15  ...              ATGCCATCCTTGGAGTTCCTGTAAG
3            15  ...             AATGCCATCCTTGGAGTTCCTGTAAG
4            15  ...         GCCCAATGCCATCCTTGGAGTTCCTGTAAG
..          ...  ...                                    ...
115           8  ...       TTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
116           8  ...      GTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
117           8  ...     AGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
118           8  ...   ACAGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC
119           8  ...  AACAGTTTGCCGCTGCCCAATGCCATCCTTGGAGTTC

[120 rows x 4 columns]

In [ ]:
# Export to excel
df.to_excel('3_extension_DMD_exon44_insertion.xls')